---
import Layout from "../layouts/Layout.astro";
---

<Layout title='Dobrovská - dopravní psychologie' redirNavigation={true}>
   <div class='py-36'>this is test</div>
   <div class='py-36'>this is test</div>
   <div class='py-36'>this is test</div>
</Layout>
