---

---
<svg class="w-full fill-primary -mb-10" id="visual" viewBox="0 0 900 200" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"><path d="M0 78L25 80.3C50 82.7 100 87.3 150 90.7C200 94 250 96 300 89.2C350 82.3 400 66.7 450 70.3C500 74 550 97 600 102.5C650 108 700 96 750 90.3C800 84.7 850 85.3 875 85.7L900 86L900 201L875 201C850 201 800 201 750 201C700 201 650 201 600 201C550 201 500 201 450 201C400 201 350 201 300 201C250 201 200 201 150 201C100 201 50 201 25 201L0 201Z" stroke-linecap="round" stroke-linejoin="miter"></path></svg>
<div class="bg-primary py-10 md:pt-0  text-center text-sm text-secondary font-semibold space-y-8">
    <div class="">

    PhDr. Yvona Dobrovská   <br>
+420 602 377 568<br>
yvona.dobrovska@seznam.cz 
    </div>
    <div>
        Web v roce 2024 vytvořil Víťa Klejch (vita9@post.cz) 
    </div>
</div>