---
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro";
import Nav from "../components/Nav.astro";

interface Props {
   title: string;
   redirNavigation: boolean;
}

const { title, redirNavigation } = Astro.props;

// const baseEnvValue = import.meta.env.BASE_URL;
// const baseUrl = baseEnvValue == "/" ? "" : baseEnvValue;
// console.log("layout info:");
// console.log(baseUrl);
---

<!doctype html>
<html lang='en'>
   <Head title={title} />
   <body>
      <Nav redirNavigation={redirNavigation} />
      <slot />
      <Footer />
   </body>
</html>
